# ===================================================================
# Docker
# ===================================================================
Dockerfile
.dockerignore

# ===================================================================
# Version Control
# ===================================================================
.git/
.gitignore

# ===================================================================
# Python
# ===================================================================
.env
.venv
env/
venv/
ENV/

# Python files or caches
__pycache__/
*.pyc
*.pyo

# Build artifacts
build/
dist/
*.egg-info/

# Test/coverage reports
.pytest_cache/
.coverage
htmlcov/

# ===================================================================
# IDE & OS-Specific
# ===================================================================
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# ===================================================================
# Secrets & Logs
# =================================S==================
.env.*
*.log
*.key
*.pem
